// CartPage.module.scss
.cartPageWrapper {
  display: flex;
  justify-content: space-between;
}

.tableWrapper {
  width: 68%;
}

.summaryWrapper {
  width: 30%;
  padding: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
}

.productSummary {
  padding: 0.5rem;
}

.totalRow {
  justify-content: space-between;
}

.spinner-container {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  margin-bottom: 1rem !important;
}

.ant-table {
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

.ant-table-thead > tr > th {
  font-weight: bold;
}

.ant-table-tbody > tr > td {
  padding: 16px;
}

.ant-table-tbody > tr:hover > td {
  background-color: var(--light-grey); /* Màu xám khi hover vào */
}

.ant-image {
  border-radius: 4px;
}

.ant-divider {
  margin: 12px 0;
}

.quantity {
  display: flex;

  &-item {
    width: 2rem !important;
    &:hover {
      border: 1px solid var(--light-yellow) !important;
      color: var(--light-yellow) !important;
    }

    &-input {
      width: 3rem !important;
    }
  }
}

.cart-item {
  &-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  &-option-value {
    font-size: 0.75rem !important;
    color: var(--grey) !important;
  }
  &-name {
    max-width: 10rem;
  }
}

.summary-text {
  font-size: 0.75rem !important;
  color: var(--grey) !important;
}

.summary-divider {
  margin: 0.5rem 0 !important;
}

.checkout-btn {
  background: var(--light-yellow) !important;
  color: var(--black) !important;

  &:hover {
    opacity: 0.8;
  }
}

.checkbox:checked {
  background: var(--light-yellow) !important;
  color: var(--black) !important;
}
