* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white: #ffffff;
  --grey: #a4a4a4;
  --light-grey: #f3f3f3;
  --light-orange: #fef0ea;
  --light-yellow: #edcf5d;

  --app-header-height: 6rem;
  --product-card-width: 13rem;
  --product-card-image-width: 11rem;
  --product-card-image-height: 11rem;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 0px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

a {
  color: var(--light-yellow) !important;
}

.ant-menu-item {
  margin: 0 !important;
  font-weight: 600;
}

.ant-menu-item-icon {
  font-size: 1rem !important;
}

.ant-menu-item-selected {
  color: var(--black) !important;
  background-color: var(--light-grey) !important;
}

.ant-badge-count {
  background-color: var(--light-yellow) !important;
}

.ant-form-item-explain-error {
  margin: 0.25rem 0 0.5rem;
}

.ant-switch-checked {
  background: var(--light-yellow) !important;
}

.ant-input-outlined:focus-within {
  box-shadow: 0 0 0 2px var(--light-orange) !important;
}

.ant-menu-submenu-title {
  margin: 0 !important;
  margin-bottom: 0.5rem !important;
  padding: 0.25rem 0.75rem !important;
  height: fit-content !important;
}

.ant-menu-title-content {
  color: var(--black);
  font-weight: 600;
}

.ant-menu-submenu-arrow {
  color: var(--black) !important;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  background-color: var(--light-grey) !important;
  color: var(--black) !important;
}

.ant-menu-item {
  margin: 0 !important;
  margin-bottom: 0.5rem !important;
  padding: 0.25rem 2rem !important;
  height: fit-content !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--light-yellow) !important;
  border-color: var(--light-yellow) !important;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: var(--light-yellow) !important;
  border-color: var(--light-yellow) !important;
}

.ant-btn-primary {
  color: var(--black) !important;
  background: var(--light-yellow) !important;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.ant-btn-primary:hover,
.ant-btn-primary:disabled {
  opacity: 0.8;
}

.ant-btn-default:hover {
  border-color: var(--light-yellow) !important;
  color: var(--light-yellow) !important;
}

.ant-input-outlined:hover,
.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector,
.ant-picker-outlined:hover,
.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: var(--light-yellow) !important;
}
