.btn {
  color: var(--black) !important;
  background: var(--light-yellow) !important;
}

.success {
  color: var(--white) !important;
  background: #82dd55 !important;
}

.title {
  margin-top: 1rem;
}

.product {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 0.5rem;
}

.space {
  width: 1rem;
}

.var-1 {
  width: 40%;
}

.var-2 {
  width: 20%;
}

.var-3 {
  width: 20%;
}

.var-4 {
  width: 20%;
}
