.container {
  width: 100%;
}

.wrapper {
  padding: 1rem;
  min-width: 25rem;

  &-left {
    width: 30vw;
  }
}

.form {
  min-width: 50vw !important;

  &-wrapper {
    width: 100% !important;
  }

  &-section {
    padding: 0 0.5rem;
    flex: 1 !important;
  }
}

.date-of-birth {
  width: 100% !important;
  min-width: auto !important;
}

.submit-button {
  color: var(--black) !important;
  background-color: var(--light-yellow) !important;
}
